/* resets */

.container {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.img {
  display: block;
  max-width: 100%;
}

.input,
.a {
  font: inherit;
  color: inherit;
}

.p,
.h1,
.h2 {
  overflow-wrap: break-word;
}

.ul[role="list"] {
  list-style: none;
}

.flow > :not(:last-child) {
  margin-block-end: var(--flow, 1em);
}

/* main styles */

.container {
  background-color: hsl(45, 6%, 87%);
  color: hsl(40, 3%, 23%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.h1 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 3rem;
  color: hsl(0, 2%, 27%);
  padding-bottom: 1em;
}

.main {
  width: min(60%, 700px);
  margin-inline: auto;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 4px hsl(40, 3%, 23%);
  padding: 2em 3.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main .img {
  width: 12em;
}

.h2 {
  line-height: 1.2;
  --flow: 0em;
}

.h2 + .p {
  --flow: 0.4em;
  font-weight: 520;
}

.h2 + .p + .p {
  font-style: italic;
  font-weight: 300;
}

.form > * {
  display: block;
}

.input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  outline-color: transparent;
  padding-bottom: 0.3em;
}

.input[type="text"]:focus-visible {
  border-bottom-color: hsl(206, 100%, 36%);
}

.form a {
  text-decoration: none;
  color: hsl(206, 100%, 36%);
  width: fit-content;
}

.form .a:hover,
.form .a:focus-visible {
  color: hsl(207, 56%, 75%);
}

.input[type="submit"] {
  background-color: hsl(206, 100%, 36%);
  color: hsl(0, 0%, 100%);
  padding: 0.3em 1.5em;
  border: none;
  cursor: pointer;
  margin-inline-start: auto;
}

.input[type="submit"]:hover,
.input[type="submit"]:focus-visible {
  box-shadow: 0 0 8px hsl(206, 100%, 36%);
}

.nav {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  background-color: hsl(0, 6%, 21%);
  color: hsl(0, 0%, 100%);
}

.nav .ul {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  font-weight: 500;
  margin-left: 2.5em;
}

.nav .a {
  text-decoration: none;
}

.nav .a:hover,
.nav .a:focus-visible {
  text-decoration: underline;
}

@media (max-width: 50em) {
  .container {
    font-size: 13px;
  }
  .main {
    width: 100%;
    height: 100%;
  }
  .h1 {
    position: static;
    transform: translate(0%, 0%);
    --flow: 0em;
  }
}
